.main_border {border:0px solid #000000;}







.left {background-color:#FFFAFA; border-right:1px solid #424242;}


p.title {
background-color: #A72E37;
color: #ffffff;
font-weight:bold;
margin:5px;
padding:5px;
}

#coolmenu{
border: 1px solid gray; /*&#1057;&#1090;&#1080;&#1083;&#1100; &#1088;&#1072;&#1084;&#1082;&#1080; */
border-bottom-width: 0;
width: 93%; /*&#1064;&#1080;&#1088;&#1080;&#1085;&#1072; &#1084;&#1077;&#1085;&#1102; */
background-color: #f6f6f6;  /*&#1060;&#1086;&#1085;&#1086;&#1074;&#1099;&#1081; &#1094;&#1074;&#1077;&#1090; &#1103;&#1095;&#1077;&#1081;&#1082;&#1080;*/
margin:8px; /*&#1064;&#1080;&#1088;&#1080;&#1085;&#1072; &#1086;&#1090;&#1089;&#1090;&#1091;&#1087;&#1086;&#1074;*/
}

* html #coolmenu{ 
width: 150px;/*&#1064;&#1080;&#1088;&#1080;&#1085;&#1072; &#1084;&#1077;&#1085;&#1102; &#1076;&#1083;&#1103; Internet Explorer*/
}

#coolmenu a{
font: bold 13px Verdana; /*&#1064;&#1088;&#1080;&#1092;&#1090; &#1090;&#1077;&#1082;&#1089;&#1090;&#1072;*/
padding: 2px; /*&#1042;&#1085;&#1091;&#1090;&#1088;&#1077;&#1085;&#1085;&#1080;&#1081; &#1086;&#1090;&#1089;&#1091;&#1090;&#1087; &#1090;&#1077;&#1082;&#1089;&#1090;&#1072; &#1089;&#1089;&#1099;&#1083;&#1082;&#1080; &#1086;&#1090; &#1082;&#1088;&#1072;&#1077;&#1074; &#1103;&#1095;&#1077;&#1081;&#1082;&#1080;*/
padding-left: 4px;/*&#1042;&#1085;&#1091;&#1090;&#1088;&#1077;&#1085;&#1085;&#1080;&#1081; &#1086;&#1090;&#1089;&#1091;&#1090;&#1087; &#1090;&#1077;&#1082;&#1089;&#1090;&#1072; &#1089;&#1089;&#1099;&#1083;&#1082;&#1080; &#1086;&#1090; &#1083;&#1077;&#1074;&#1086;&#1075;&#1086; &#1082;&#1088;&#1072;&#1103; &#1103;&#1095;&#1077;&#1081;&#1082;&#1080;*/
display: block;
width: 100%; /*&#1064;&#1080;&#1088;&#1080;&#1085;&#1072; &#1103;&#1095;&#1077;&#1081;&#1082;&#1080;*/
color: #000000;  /*&#1062;&#1074;&#1077;&#1090; &#1090;&#1077;&#1082;&#1089;&#1090;&#1072;*/
text-decoration: none; /*&#1055;&#1086;&#1076;&#1095;&#1077;&#1088;&#1082;&#1080;&#1074;&#1072;&#1085;&#1080;&#1077; &#1091; &#1089;&#1089;&#1099;&#1083;&#1086;&#1082; - &#1085;&#1077;&#1090;*/
border-bottom: 1px solid gray;
line-height:20px;
}

html>body #coolmenu a{ 
width: auto;
}

#coolmenu a:hover{
background-color: #cccccc; /*&#1060;&#1086;&#1085;&#1086;&#1074;&#1099;&#1081; &#1094;&#1074;&#1077;&#1090; &#1103;&#1095;&#1077;&#1081;&#1082;&#1080; &#1087;&#1088;&#1080; &#1085;&#1072;&#1074;&#1077;&#1076;&#1077;&#1085;&#1080;&#1077; &#1082;&#1091;&#1088;&#1089;&#1086;&#1088;&#1072;*/
color: #000000;  /*&#1062;&#1074;&#1077;&#1090; &#1090;&#1077;&#1082;&#1089;&#1090;&#1072; &#1087;&#1088;&#1080; &#1085;&#1072;&#1074;&#1077;&#1076;&#1077;&#1085;&#1080;&#1080; &#1082;&#1091;&#1088;&#1089;&#1086;&#1088;&#1072;*/
}

#ad{
	width:98%;
	background-color:#FFDEAD;
	text-align:center;
	border:4px solid #CD5C5C;
	margin:0 auto;
	padding-top:10px;
	font:36px;
}



#wrapper {
	width:300px;
}

.question {
	font-weight:bold;
}

fieldset {
	padding:0 10px;
	border:1px solid #cccccc;
	background-color:#fcfcfc;
}

textarea {
	background-color:#FFF5EE;
	padding:4px;
}

textarea:focus {
	background-color:#ffffff;
}
.input {
	height:22px;
	width:250px;
	background-color:#fcfcfc;
	line-height:22px;
	padding:4px;
}

label {
	cursor:pointer;
}

a {
	text-decoration:none;
}

